#container {
	margin: 25px;
}
#container > * {
	margin-bottom: 10px;
}

.btn,
#playlists > li {
	border: 2px solid lightslategray;
}

#upload-form {
	display: flex;
	align-items: center;
}
#upload-form > * {
	margin-right: 10px;
}
#upload-input {
	width: unset;
	min-width: 40%;
}
#controls {
	display: flex;
	align-items: center;
}

#controls > * {
	margin-right: 10px;
}
#playlists {
	display: inline-flex;
	min-width: 60%;
}
.playlist-buttons {
	float: right;
}

.playlist-link {
	padding: none;
}
.playlist-link-btn {
	border: none;
}
